body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
}
 .active-nav{
   color:#228dc7
 }
.initial {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.custom-container {
  max-width: 1006px !important;
}

.nav-container {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 3;
  background-color: white
}

.nav-container .navbar {
  padding: 0;
}

.nav-container .navbar-brand {
  color: #28a7e9;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.nav-container ul li {
  padding: 0px 6px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

/* Header */
.header .head-image {
  background-image: url('/public/Images/header-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header .overlay {
  width: auto;
  height: 700px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 90px;
  padding-bottom: 90px;
}

.header .carousel-caption {
  bottom: 1.25rem;
  color: #fff;
  left: 15%;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: absolute;
  top: 13%;
}

/* Attribute */
.attribute .style-icon {
  font-size: 64px;
  color: #28a7e9;
}

/* Features */
.features {
  background: #f8f8f8;
}

.second-section {
  background: #fff;
}

.features ul li {
  list-style: none;
}

.features ul .style-icon {
  font-size: 30px;
  background: #28a7e9;
  color: white;
}

/* Pricing */
.pricing .card-top {
  background: #28a7e9;
  color: #fff;
  font-weight: bold;
  padding: 30px;
}

.pricing .card {
  border: 0;
  box-shadow: 0px 0px 8px #9091928e;
}

.pricing .card .card-body .btn {
  border: 2px solid #28a7e9;
  padding: px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  font-weight: bold;
  color: #28a7e9;
}

.pricing .card .card-body .btn:hover {
  background: #28a7e9;
  color: white;
  transition: all 1s;
}

/* Download */
.download .row .btn {
  border: 2px solid #28a7e9;
  background: #28a7e9;
  padding: px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
  font-weight: bold;
  color: #fff;

}

.download .row .btn:hover {
  border: 2px solid #238fc9;
  ;
  background: #238fc9;
}

/* Header */
.contact .back-image {
  background-image: url('/public/Images/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact .overlay {
  width: auto;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact ul li {
  list-style: none;
}

.contact ul .style-icon {
  font-size: 30px;
  background: #28a7e9;
  border-radius: 10px;
  color: white;
  padding: 6px;
}

.contact .set-form {
  color: #fff;
  /* margin-top: 8%; */
}

.contact .btn {
  border: 2px solid #28a7e9;
  background: #28a7e9;
  padding: px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0;
  font-weight: bold;
  color: #fff;
}

.contact .btn:hover {
  border: 2px solid #228dc7;
  background: #228dc7;
}

.contact {
  padding-top: 80px !important;
}

@media (min-width: 1200px) {
  .nav-container .container {
    max-width: 1032px;
  }
}

/* for mobile */
@media (max-width: 700px) {
  .header .head-image {
    background-image: url('/public/Images/header-mobile-2.jpg');
  }

  .header .overlay {
    width: auto;
    height: 400px !important;

  }
}

@media (max-width: 991px) {
  .initial {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  /* navbar */
  .nav-container .navbar-nav {
    border-top: 2px solid beige;
  }

  .nav-container .navbar .container {
    max-width: 100%;
  }
  .setVisible{
    visibility: hidden;
  
  }

  /* header */
  .header .carousel-caption p {
    font-size: 13px;
  }

  .features .row .head {
    text-align: center !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* Pricing */
  .pricing .set-padding {
    margin-top: 30px !important;
  }

  /* Download */
  .download .row .second-col {
    padding-top: 70px;
  }

  .contact .set-padding {
    margin-top: 20px;
  }

}